body {
margin: 3%; 
font-family: sans-serif;
text-align: center;
}

h1{
	font-size: 50px;
	padding-top: 20px;
	margin-left: 10%;
	margin-right: 10%;
	color: #0062B8;
}

/* -----------------------------
   Styles for nav
   ----------------------------- */

.header{
	color:#272727;
	padding: 1%;
}

#main-nav{
	padding: 2%;
	position: absolute;
}

ul {
	list-style: none;
	left: 50%;
	transform: translate(-50%, -50%);
  }

li {
	float: left;
	position: relative;
	width: 12em;
	text-align: center;
  }

li ul {
	display: none;
	top: 1.7em;
	bottom: 1.7em;
	left: 0;
	position: absolute;
}
